.input {
  border: none;
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  background-color: transparent;
  color: #161616;
  outline: 0px;
  &::placeholder {
    font-weight: 300 !important;
    color: #cacaca;
  }
  &__label {
    display: block;
    font-size: 14px;
    font-weight: 700;
    color: #3d3d3d;
    margin-bottom: 8px;
  }
  &-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &__required {
    font-size: 14px;
    margin-left: 3px;
    text-align: start;
  }
  &__container {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  &__box {
    display: flex;
    gap: 16px;
    padding: 12px 16px;
    align-items: center;
    background-color: #ffffff;
    border: 0.5px solid #bfbfbf;
    border-radius: 4px;
    &[data-success="true"] {
      border: 1px solid #32a75a;
    }
    &[data-touched="true"],
    &[data-error="true"] {
      border: 1px solid #ef4c49;
    }
    & span {
      display: flex;
      align-items: center;
      width: fit-content !important;
    }
  }
  &__error {
    font-size: 12px;
    color: #ef4c49;
  }
}
