.button {
  width: 100%;
  text-align: center;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  font-weight: 600;
  border-radius: 16px;
  background-color: #5038ed;
  padding: 17px 30px;
  color: #fff;
}
